.navbar-container {
  -moz-box-shadow: 0px 0px 0px 0px #eeeded;
  -webkit-box-shadow: 0px 0px 0px 0px #eeeded;
  box-shadow: 1px 5px 5px 0px #eeeded;
  height: 4rem;
}

.navbar-title {
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 40px;
  line-height: 4rem;
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 24px;
  color: #25274d;
  font-style: normal;
  display: inline-block;
  width: 200px;
}

.navbar-header {
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 18px;
  font-style: normal;
  padding-right: 20px;
  padding-left: 20px;
  color: #a8d0e6;
  border-left: 1px solid black;
}

.navbar-hyperlink {
  text-decoration: none;
}
